.botonLateral {
    -fx-background-color: #FD8663;
    -fx-border-color: #EF6035;
    -fx-border-width: 1px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-text-fill: white;
}

.mesaServida {
    -fx-background-color: #6B6B6B;
}

.contenedor {
    -fx-border-color: #8C8B8B;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: none;
}

.mesaSeleccionada {
    -fx-border-color: #EF6035;
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
}

.panelComanda {
    -fx-border-color: #FF9C80;
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.oscurecer {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.alertBox {
    -fx-background-color: white;
    -fx-border-color: #EF6035;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}